
*:not(svg){
    font-family: Arial, sans-serif;
    box-sizing: border-box;
}
.link{

    text-decoration: none;
}
.header{
    display: flex;
    font-size: 13px;
    align-items: center;
}

.link:hover{
    text-decoration: underline;
}

.button{
   display: inline-block;
    color: white;
    text-decoration: none;
    background-color: #f8f9fa;
    border: 1px solid #f8f9fa;
    border-radius: 4px;
    color: #3c4043;
    font-family: arial,sans-serif;
    font-size: 14px;
    margin: 11px 4px;
    padding: 0 16px;
    line-height: 32px;
    height: 36px;
    min-width: 54px;
    text-align: center;
    cursor: pointer;
    user-select: none;

}

.button:hover{
box-shadow: 0 1px 1px rgba(0,0,0,.1);
background-color: #f8f9fa;
border: 1px solid #dadce0;
color: #202124;
}

.button_primary{
    background: #2b7de9;
    border: 1px solid transparent;
    color: #fff;
}

.button_primary:hover{
    background: #2b7de9;
    box-shadow: 0 1px 2px 0 rgba(66,133,244,0.3),0 1px 3px 1px rgba(66,133,244,0.15);
color: white;
}

.page_header{
    justify-content: flex-end;
    padding: 6px;
    margin: 4px 2px;
}

.header_app-icon{
    margin-left: 15px;
    width: 24px;
    height: 24px;
    padding: 8px;
    cursor: pointer;
    color: #5f6368;
}
.header_app-icon:hover{
    background-color: rgba(60,64,67,0.08); 
    border-radius: 100%;
}

.header_sign-in-wrapper{
    display: flex;
}

.header_link{
    padding-left: 15px;
    color: rgba(0, 0, 0, 0.87);
}

.header_button{
    margin: 0 8px;
    padding: 0 23px;
}

.main{
    text-align: center;
}

.main_wrapper{
    padding: 20px 20px 16px;
}

.main_search-icon{
    width: 20px;
    height: 20px;
    color: #9aa0a6;
    fill: currentColor;
}

.main_search-wrapper{

display: flex;
border: 1px solid #dfe1e5;
box-shadow: none;
border-radius: 24px;
height: 46px;
max-width: 584px;
align-items: center;
margin: auto;
margin-top: 6px;
padding-left:14px;
padding-right: 8px;
margin-bottom: 18px;

}
.main_search-wrapper:focus-within,
.main_search-wrapper:hover{
background-color: #fff;
box-shadow: 0 1px 6px rgba(32,33,36,.28);
border-color: rgba(223,225,229,0);
}

.main_search{
  margin-left: 13px;
  border: none;
  outline: none;
}

.main section{
    font-size: 13px;
}

.main_image-wrapper{
    min-height: 92px;
    max-height: 290px;
    height: calc(100vh - 560px);
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.main_copyright-claims{
    padding: 10px;
}

/* Footer */

.footer_country{
    display: flex;
    padding: 15px 30px;
    border-bottom: 1px solid #dadce0;
    font-size: 15px;
    color: rgba(0,0,0,.54);
    background: #f2f2f2;
}

.footer_menu-wrapper{
    font-size: 14px;
    display: flex;
    padding: 0 20px;
    background: #f2f2f2;
    justify-content: space-between;
}

.footer_menu{
    display: flex;
    list-style: none;
    flex-wrap: wrap;
    justify-content: space-around;
}

.footer_link{
    padding: 15px;
}

.footer_link .link{
    color: rgba(0,0,0,.54);
}

.page_footer{
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
}

@media all and (max-width: 1200px){
    .footer_menu-wrapper{
        justify-content: space-evenly;
        flex-wrap: wrap;
    }
}

@media all and (max-width: 680px){
    .footer_menu-wrapper{
        height: 82px;
    }
    .header{
        justify-content: space-between;
    }
}

@media all and (max-width: 480px){
    .main_image-wrapper > img{
        height: 72px;
    }
    .page_footer{
        position: relative;
    }
}
@media all and (max-width: 483px){
    .footer_menu:first-child{
       display: none;
    }
}
@media all and (max-width: 559px){
    .page_footer{
        margin-top : 25px;
        position: relative;
    }
}